<div id="tableContainer">

<p>Now vote (as many times as you want):</p>
<div *ngFor="let candidate of cService.candidates">
  <input type="radio" name="ballotOption" [id]="candidate" (click)="radioClicked(candidate)">
  <label [for]="candidate">{{candidate}}</label>
</div>
<div class="ballotDiv">
  <input type="button" value="Vote" (click)="addVote()" *ngIf="candidateSelected">
</div>
<div class="ballotDiv">
  <span class="labelSpan">Number of votes:</span><span *ngIf="atLeastOneVote">{{numberOfVotes}}</span>
</div>
<div class="ballotDiv">
  <input type="button" value="Done voting" (click)="doneVotingClicked()" *ngIf="atLeastOneVote">
</div>

